<main>

    {% Если Модель.ДанныеПриложения.Получить("СекцияОбоМне") <> Неопределено Тогда %}
    <section id="about">
        <h2>Обо мне</h2>
        <p>{{Модель.ДанныеПриложения["СекцияОбоМне"]}}</p>
    </section>
    {% КонецЕсли; %}

    {% Если Модель.ДанныеПриложения.Получить("Навыки") <> Неопределено Тогда %}
    <section id="skills">
        <h2>Навыки</h2>
        <ul>
            <li>Навык 1</li>
            <li>Навык 2</li>
            <li>Навык 3</li>
        </ul>
    </section>
    {% КонецЕсли; %}

    {% Если Модель.ДанныеПриложения.Получить("Контакты") <> Неопределено Тогда %}
    <section id="contact">
        <h2>Контакты</h2>
        <ul class="contact-list">
            {% Для Каждого Контакт Из Модель.ДанныеПриложения["Контакты"] Цикл %}
            <li><i class="{{Контакт["Иконка"]}}"></i> <a href="{{Контакт["Значение"]}}">{{Контакт["Подпись"]}}</a></li>
            {% КонецЦикла; %}
        </ul>
    </section>
    {% КонецЕсли; %}

</main>